{% extends 'base.html.twig' %}

{% block title %}Leto's blog - admin panel{% endblock %}
{% block search %}{% endblock %}

{% block menu %}{% endblock %}

{% block main %}
{% set route_name = app.request.attributes.get('_route') %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{path('main_page')}}">Leto's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto contai">
      <li class="nav-item">
        <a class="nav-link" href="{{path('main_page')}}">Go to public site <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-info" href="#">Hi! {{ app.user.name }} {{ app.user.lastname }}</a>
      </li>
      <li {% if route_name == "admin_main_page" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('admin_main_page')}}"> My profile</a>
      </li>
      <li {% if route_name == "posts" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('posts')}}"> Posts</a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
      <li {% if route_name == "categories" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
       <a class="nav-link" href="{{path('categories')}}">Categories</a>
      </li>
       <li {% if route_name == "create_post" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('create_post')}}">Create post</a>
      </li>
       <li {% if route_name == "users" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
       <a class="nav-link" href="{{path('users')}}">Users</a>
      </li>
      {% endif  %}
       <li class="nav-item">
        <a class="nav-link" href="{{path('logout')}}">Logout</a>
      </li>
    </ul>
  </div>
</nav>

            <main role="main" class="container">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"><a href="{{path('admin_main_page')}}">Dashboard</a></h1>
                </div>

                {% for label, messages in app.flashes %}
                  {% for message in messages %}
                      <div class="alert alert-{{label}}">{{message}}</div>
                  {% endfor %}
                {% endfor %}

                {% block mainadmin %}{% endblock %}
            </main>
            </div>
{% endblock %}

{% block javascripts %}
 {# <script src="{{asset('assets/js/style.js')}}"></script> #}
 <script>
    {# $('input[type="file"]').change( (e) => {
        let fileName = e.target.files[0].name;
        // console.log(e.target.files[0]);
        $('.custom-file-label').html(fileName);
    }); #}
 </script>
{% endblock %}
