{% extends 'admin/base.html.twig' %}

{% block customstylesheets %}
{{parent()}}
<style>
    .fa-ul>li {
    margin-top: 15px;
}
</style>
{% endblock %}

{% block mainadmin %}
<h2>Categories list</h2>
<br>

{{categories |raw}}

{{ form_start(form) }}
    <div class="col-md-4 mb-3">
        <label for="validationServer01">Add new category</label>
        {# <input type="text" class="form-control is-invalid" id="validationServer01" placeholder="Category name" value="Funny"
            required> #}
        {{ form_widget(form.name,{'attr': {'class': 'form-control' ~ is_invalid, 'placeholder': 'Category name'}, 'id': 'validationServer01' }) }}
        <br>
	    <label for="inlineFormCustomSelect">Parent:</label>
        <select name="category[parent]" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            {{ render(controller('App\\Controller\\Admin\\Superadmin\\CategoriesController::getAllCategories')) }}
        </select>
        <h4 class="text-danger">
           {{ form_errors(form.name) }}
        </h4>
        <button class="btn btn-primary mt-3" type="submit">Add</button>
    </div>
{{ form_end(form) }}
{% endblock %}
