{% extends 'admin/base.html.twig' %}
{% block mainadmin %}
<h2>Editing category</h2>
<div class="container col-md-6">
<br>
{{ form_start(form) }}
    {# <input type="text" class="form-control is-invalid" id="validationServer01" placeholder="Category name" value="Funny"
        required> #}
        {{ form_widget(form.name,{'attr': {'class': 'form-control' ~ is_invalid, 'placeholder': 'Category name'}, 'id': 'validationServer01' }) }}
    <br>
    <label for="inlineFormCustomSelect">Parent:</label>
    <select name="category[parent]" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        {{ render(controller('App\\Controller\\Admin\\Superadmin\\CategoriesController::getAllCategories')) }}
    </select>
    <div class="invalid-feedback">
        {{ form_errors(form.name) }}
    </div>
    <button class="btn btn-primary mt-3" type="submit">Save</button>

{{ form_end(form) }}

</div>
{% endblock %}

