{% extends 'admin/base.html.twig' %}
{% block mainadmin %}

<h2>My profile <small><a onclick="return confirm('Are you sure you want to delete your account?');" href="{{path('delete_account')}}">delete account</a></small></h2>

<div class="container">
{{ form_start(form,{'attr': {'novalidate':'novalidate'}}) }}
    <div class="form-group">

        <label for="user_name">Name</label>
        {{ form_widget(form.name, {'attr':{'class': is_invalid}}) }}

        <div class="invalid-feedback">
 
            {{form_errors(form.name)}} 
        </div>
    </div>
    <div class="form-group">

        <label for="user_last_name">Last name</label>
        {{ form_widget(form.last_name, {'attr':{'class': is_invalid}}) }} 


        <div class="invalid-feedback">

            {{form_errors(form.last_name)}}
        </div>
    </div>
    <div class="form-group">

        <label for="user_email">Email address</label>
        {{ form_widget(form.email, {'attr':{'class': is_invalid}}) }}

        <div class="invalid-feedback">

            {{form_errors(form.email)}}
        </div>
    </div>
    <div class="form-group">

        <label for="user_password_first">Password</label>
        {{ form_widget(form.password.first, {'attr':{'class': is_invalid}}) }} 

        <div class="invalid-feedback">

            {{form_errors(form.password.first)}}
        </div>
    </div>
    <div class="form-group">

        <label for="user_password_second">Confirm password</label>
        {{ form_widget(form.password.second, {'attr':{'class': is_invalid}}) }} 

        <div class="invalid-feedback">

            {{form_errors(form.password.second)}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

{{ form_end(form) }}
</div>
{% endblock %}
