{% extends 'admin/base.html.twig' %}
{% block mainadmin %}
{% block customstylesheets %}

{% endblock %}
<div class="conatiner">
{% if is_granted('ROLE_ADMIN') %}
<h2>Posts</h2>
{% else %}
<h2>My liked posts</h2>
{% endif %}

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Post name</th>
        <th>Link</th>
        {% if is_granted('ROLE_ADMIN') %}
        <th>Category</th>
        <th>Delete</th>
        <th>Edit</th>
         {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{post.title}}</td>
        <td><a target="_blank" href="{{path('post_details',{'post':post.id})}}" class="text-info">go to post</a></td>
         {% if is_granted('ROLE_ADMIN') %}
        <td>
            <form action="{{path('update_post_category',{'post':post.id})}}" method="POST">
            <select name="post_category" onchange="this.form.submit();">

            {% for category in categories.categorylist %}
                {% if post.category is not null and post.category.id == category.id  %}
                <option selected value="{{category.id}}">{{category.name}}</option>
                {% else %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endif %}
            {% endfor %}
            {% if post.category is null %}
            <option selected value="0">No category</option>
            {% endif %}
            </select>
        </form>
        </td>
        <td><a href="{{path('delete_post',{'post':post.id, 'path':post.photo})}}" onclick="delete_post(event);"><i class="fa fa-trash text-danger"></i></a></td>
        <td><a href="{{path('edit_post',{'post':post.id})}}"><i class="fa fa-edit text-warning"></i></a></td>
        {% endif %}
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% block javascripts %}
{{parent()}}
<script>
    function delete_post(e)
    {
        confirm('Are you sure?');
    }
</script>

{% endblock %}

{% endblock %}

