{% extends "base.html.twig" %}

{% block main %}


	<div class="container">
		
		<div class="row mt-4">


			<div class="col-md-8">
				<div class="card-header text-center text-info"><h3>Recent Posts</h3></div>

				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="{{asset ('https://bs-uploads.toptal.io/blackfish-uploads/blog/post/seo/og_image_file/og_image/15921/secure-rest-api-in-nodejs-18f43b3033c239da5d2525cfd9fdc98f.png')}}" alt="First slide">
							<div class="carousel-caption d-none d-md-block">
								<a href="{{path('main_page')}} ">
									<h5>POST1</h5>
								</a>
								<p>ReadMore</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="{{asset ('https://www.prodjex.com/wp-content/uploads/2018/04/PHP-Tutorials-Guides-and-More.png')}}" alt="Second slide">
							<div class="carousel-caption d-none d-md-block">
								<a href="{{path('main_page')}} ">
									<h5>POST1</h5>
								</a>
								<p>ReadMore</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="{{asset ('https://bs-uploads.toptal.io/blackfish-uploads/blog/post/seo/og_image_file/og_image/15921/secure-rest-api-in-nodejs-18f43b3033c239da5d2525cfd9fdc98f.png')}}" alt="Third slide">
							<div class="carousel-caption d-none d-md-block">
								<a href="{{path('main_page')}} ">
									<h5>POST1</h5>
								</a>
								<p>ReadMore</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>


			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center text-info">Posts Main Categories</h3>
					</div>
					<div class="card-body">
						<div class="form-group">

							{{render(controller("App\\Controller\\FrontController::mainCategories"))}}

						</div>
					</div>
				</div>
			</div>


		</div>

	</div>
{% endblock %}

