{% extends "base.html.twig" %}
{% block search %}{% endblock %}
{% block main %}
<div class="container">
<div class="col-md-8 container mt-4">
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<form method="POST" action="{{path('login')}}" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="_email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018 <a href="{{path('main_page')}}">main page</a></p>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
</form>
</div>
</div>
{% endblock %}