{% extends "base.html.twig" %}
{% block search %}{% endblock %}

{% block main %}
<div class="container">
        <div class="col-md-8 container">
        <h4 class="mb-3 mt-4 card-header ">Register</h4>
        {# <form method="POST" action="#" class="needs-validation" novalidate> #}
        {{ form_start(form,{'attr': {'novalidate':'novalidate','class':'needs-validation'}}) }}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="user_name">First name</label>
                    {# <input type="text" class="form-control" id="firstName" placeholder="" value="" required> #}
                    {{ form_widget(form.name) }} 
                    <div class="invalid-feedback">
                        Valid first name is required.
                        {{form_errors(form.name)}}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="user_last_name">Last name</label>
                    {# <input type="text" class="form-control" id="lastName" placeholder="" value="" required> #}
                    {{ form_widget(form.last_name) }} 
                    <div class="invalid-feedback">
                        Valid last name is required.
                        {{form_errors(form.last_name)}}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="user_email">Email</label>
                {# <input type="email" class="form-control" id="email" placeholder="you@example.com" required> #}
                {{ form_widget(form.email) }} 
                <div class="invalid-feedback">
                    Please enter a valid email address.
                     {{form_errors(form.email)}}
                </div>
            </div>

            <div class="mb-3">
                <label for="user_password_first">Password</label>
                {# <input type="password" class="form-control" id="password" required> #}
                {{ form_widget(form.password.first) }} 
                <div class="invalid-feedback">
                     Please enter a valid password.
                    {{form_errors(form.password.first)}}
                </div>
            </div>

            <div class="mb-3">
                <label for="user_password_second">Confirm Password</label>
                {# <input type="password" class="form-control" id="confirm_password" required> #}
                {{ form_widget(form.password.second) }}
                <div class="invalid-feedback">
                     Please enter a valid password confirmation.
                     {{form_errors(form.password.second)}}
                </div>
            </div>

            <hr class="mb-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
         {{ form_end(form) }}
</div>
</div>	
	
{% endblock %}

{% block javascripts %}
 <script src="{{asset('assets/js/style.js')}}"></script>
{% endblock %}