{% extends "base.html.twig" %}

{% block main %}

{% block stylesheets %}
{{parent()}}
{% if app.user %}
<link rel="stylesheet" href="{{asset('assets/css/likes.css')}}">
{% endif %}

{% endblock %}


<div class="container">
	<div class="jumbotron mt-4">
	 	{% if posts %}
		<h1 class="display-3">Search results</h1>
		{{ include('front/includes/_sort.html.twig',{'query':query}) }}
		 {% else %}
		 <h1 class="display-3">No results were found!</h1>
        
		 {% endif %}
	</div>
	{% if posts %}
	{{ include('front/includes/_posts.html.twig', {'posts' : posts}) }}
	{% endif %}
</div>

{% endblock %}