<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Leto Blog!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{path('main_page')}}">Leto's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{% set route_name = app.request.attributes.get('_route') %}
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      
      <li {% if route_name == "main_page" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('main_page')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      {# <li {% if route_name == "post_list" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('post_list')}}">Posts</a>
      </li> #}
      {% if  not app.user  %}
       <li {% if route_name == "register" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('register')}}">Register</a>
      </li>
       <li {% if route_name == "login" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{path('login')}}">Login</a>
      </li>
      {% endif %}
      {% if  app.user  %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin_main_page')}}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('logout')}}">logout</a>
      </li>
      {% endif %}
    </ul>

  </div>
</nav>

      {% endblock %}
      {% block search %}
      
        <form method="GET" action="{{path('search_results')}}">
          <div class="input-group mb-3 container mt-2">
            <div class="input-group-prepend">
              <button class="btn btn-outline-info border-info">Search</button>
            </div>
            <input name="query" class="form-control mr-sm-2 bg-dark border-info text-white" type="search" placeholder="post title" aria-label="Search post">
          </div>
        </form>

      {% endblock %}
        
        {% block main %}{% endblock %}
        
        {% block javascripts %}
        {% endblock %}
        <script src="{{asset('assets/js/jquery.js')}}"></script>
        <script src="{{asset('assets/js/popper.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.js')}}"></script>
        {% if app.user %}
        <script src="{{asset('assets/js/likes.js')}}"></script>
        {% endif %}
    </body>
</html>
